html,
body {
    height: 100%;
    line-height: 20px;
    color: #7e7e7e;
    background-color: #ebeae8;
    margin: 0;
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #c55;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary{
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}
.our-modal-header{border-bottom: none;}
.our-modal-dialog{width:40%;
    margin-top: 60px;}
.our-modal-title{text-align:center;}
.our-modal-body{padding-top: 0;}
.or-choice-line:after {
    left: 0;
}
.or-choice-line:before, .or-choice-line:after {
    border-top: 1px solid rgba(18, 18, 18, 0.1);
    content: "";
    display: table-cell;
    position: absolute;
    top: 9px;
    width: 45%;
}
.or-choice-line {
    color: #121212;
    display: table;
    margin: 6px auto;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}
.or-choice-line:before {
    right: 0;
}
input[type="text"],input[type="password"]{
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 0 1000px #fff inset;
    box-sizing: border-box;
    color: #222;
    min-height: 28px;
    outline: medium none;
    padding: 4px 6px;
    transition: all 0.2s ease-in-out 0s;
  height:28px;
}
.our-modal-footer{
    border-top:none;
    margin:0;
    padding:0 0px;
}
.password-recovery{
    text-align:right;
    width:100%;
    display:block;
    font-size:12px;
} 

.our-form-group{
    margin-bottom:0;
} 
.control-label{
    font-weight: normal;
}

.alert-danger{display:none;}
.has-error .alert-danger{display:block;}
